@import '~foundation-sites/assets/foundation.scss';

@import 'fonts/scss/fontawesome.scss';
@import 'fonts/scss/solid.scss';
@import 'fonts/scss/brands.scss';

$primary-color: #583520;

// Fade effect mixin
@mixin faded_black() {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.3)
  );
}

// Bellefair Font
$bellefair: 'Bellefair', serif;

.siteHeader {
  position: relative;
  background-size: cover;
  height: 100vh;
  background-image: url(assets/img/featured/small/home.jpg);

  @include breakpoint(medium) {
    background-image: url(assets/img/featured/medium/home.jpg);
  }

  @include breakpoint(large) {
    background-image: url(assets/img/featured/large/home.jpg);
  }

  .headerContent {
    .topSection {
      @include xy-grid();
      @include flex-align(center, top);
      position: relative;
      z-index: 1;

      .logo {
        @include xy-cell(6);

        @include breakpoint(medium) {
          @include xy-cell(25%);
        }
      }

      .menus {
        @include xy-cell();

        @include breakpoint(medium) {
          @include xy-cell(auto);
        }

        // Social Menu
        .socialMenu {
          @include menu-base();
          @include flex-align(center, middle);

          @include breakpoint(medium) {
            @include flex-align(right, middle);
          }

          a {
            @extend %fa-icon;
            @extend .fab;

            &:before {
              display: inline-block;
              font-size: rem-calc(30);
              -webkit-font-smoothing: antialiased;
              content: fa-content($fa-var-twitter);
            }

            &[href*='facebook.com']::before {
              content: fa-content($fa-var-facebook);
            }

            &[href*='twitter.com']::before {
              content: fa-content($fa-var-twitter);
            }

            &[href*='instagram.com']::before {
              content: fa-content($fa-var-instagram);
            }

            &[href*='youtube.com']::before {
              content: fa-content($fa-var-youtube);
            }
          }
        }

        .mainNavigation {
          @include menu-base();
          @include flex-align(right, middle);
          @include breakpoint(small only) {
            background-color: $primary-color;
          }

          li {
            @include breakpoint(small only) {
              width: 100%;
              text-align: center;
            }

            a {
              @include text-transform(uppercase);
              @include font-bold(700);
              font-size: rem-calc(16);

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }
      }
    }

    .bottomSection {
      .slogan {
        color: $white;
        position: relative;
        z-index: 1;
        text-align: center;
        @include font-bold(700);
        @include text-transform(uppercase);
      }
    }
  }

  &:after {
    @include faded_black();
    @include position(absolute, 0, 0, 0, 0);
    content: '';
    @include box(100%, 100%);
  }
}
